# Основные зависимости
aiohttp
aiosqlite
async-timeout
colorlog
discord.py
diskcache
ffmpeg-python
matplotlib
Pillow
PyNaCl
pytz
typing-extensions
ujson
yt-dlp

# Зависимости для разработки
# Установка: pip install -e .[dev]
flake8
black
isort
mypy
pre-commit
pytest
pytest-asyncio
pytest-cov
freezegun
types-pytz
flake8-docstrings
flake8-print
flake8-pyproject
